## 虚拟

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from read_table import *
from ARMA import run_arma
from minimize import *

In [2]:
import datetime
date = "2020-01-02"
date = pd.to_datetime(datetime.datetime.strptime(date, "%Y-%m-%d"))

In [3]:
table = read_table()

In [4]:
for i in range(1, 11):
    table[str(i)].index = pd.to_datetime(table[str(i)].date)

In [5]:
tt = {}
for i in range(1, 11):
    tt[str(i)] = table[str(i)].loc[:date]

In [6]:
tt["1"]

,date,open,high,low,close,volume
date,,,,,,
2019-01-29,2019-01-29,10.960000,11.070000,10.770000,11.000000,8.266311e+07
2019-01-30,2019-01-30,10.950000,11.180000,10.860000,10.950000,7.120010e+07
2019-01-31,2019-01-31,10.980000,11.200000,10.940000,11.100000,8.316227e+07
2019-02-01,2019-02-01,11.200000,11.250000,10.960000,11.200000,1.014270e+08
2019-02-02,2019-02-02,13.260855,13.493773,13.062276,13.257337,9.943150e+07
...,...,...,...,...,...,...
2019-12-26,2019-12-26,16.340000,16.480000,16.320000,16.470000,3.720338e+07
2019-12-27,2019-12-27,16.530000,16.930000,16.430000,16.630000,1.042575e+08
2019-12-30,2019-12-30,16.460000,16.630000,16.100000,16.570000,9.769703e+07
2019-12-31,2019-12-31,16.570000,16.630000,16.310000,16.450000,7.044422e+07
2020-01-02,2020-01-02,16.650000,16.950000,16.550000,16.870000,1.530232e+08

In [20]:
S = []
for i in range(1, 11):
#     print(tt[str(i)].loc[date, ["open"]])
    df = table[str(i)]
    S.append(df.loc[date, ["open"]])
S

[open    16.65
 Name: 2020-01-02 00:00:00, dtype: object, open    58.66
 Name: 2020-01-02 00:00:00, dtype: object, open    3.38
 Name: 2020-01-02 00:00:00, dtype: object, open    90
 Name: 2020-01-02 00:00:00, dtype: object, open    7.09
 Name: 2020-01-02 00:00:00, dtype: object, open    65.99
 Name: 2020-01-02 00:00:00, dtype: object, open    453
 Name: 2020-01-02 00:00:00, dtype: object, open    29.36
 Name: 2020-01-02 00:00:00, dtype: object, open    4.45
 Name: 2020-01-02 00:00:00, dtype: object, open    5.86
 Name: 2020-01-02 00:00:00, dtype: object]

In [8]:
np.random.uniform(0.0, 0.003, 7)

array([0.00087081, 0.0020037 , 0.00200532, 0.00125042, 0.00053312,
       0.00132645, 0.00165181])

In [9]:
# for i in range(1, 11):
#     print("table {}".format(i))
#     print(table[str(i)].info())

In [10]:
table["8"].low.astype(np.float64)

date
2019-01-08    24.63
2019-01-09    24.70
2019-01-10    24.16
2019-01-11    24.43
2019-01-14    24.30
              ...
2020-03-20    33.63
2020-03-23    33.80
2020-03-24    34.93
2020-03-25    35.42
2020-03-26    35.98
Name: low, Length: 302, dtype: float64

In [11]:
table["8"].loc[:date]

                  date   open   high    low  close      volume
date
2019-01-08  2019-01-08  24.90  25.16  24.63  24.79   6655691.0
2019-01-09  2019-01-09  25.00  25.33  24.70  24.76   6916817.0
2019-01-10  2019-01-10  24.66  24.99  24.16  24.74   6071960.0
2019-01-11  2019-01-11  24.77  25.00  24.43  24.70   4428992.0
2019-01-14  2019-01-14  24.79  24.80  24.30  24.46   5383955.0
...                ...    ...    ...    ...    ...         ...
2019-12-26  2019-12-26  28.46  28.59  28.15  28.45   9503417.0
2019-12-27  2019-12-27  28.51  29.05  28.49  28.70  15473345.0
2019-12-30  2019-12-30  28.66  29.04  28.21  28.96  16948056.0
2019-12-31  2019-12-31  29.03  29.35  28.82  29.03  16590470.0
2020-01-02  2020-01-02  29.36  30.30  29.22  30.27  28834410.0

[247 rows x 6 columns]

In [12]:
# 买入价为当天开盘价
# 卖出价为次日开盘价

M = 30000
B = np.random.uniform(0, 0.003, 10)
s = stocks(M, B, S, tt, date, 7)

In [13]:
s.find_P()

1

/opt/anaconda3/lib/python3.7/site-packages/statsmodels/base/model.py:492: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)
/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:219: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)

2

/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:219: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)

3

/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/tsatools.py:668: RuntimeWarning: overflow encountered in exp
  newparams = ((1-np.exp(-params))/(1+np.exp(-params))).copy()
/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/tsatools.py:668: RuntimeWarning: invalid value encountered in true_divide
  newparams = ((1-np.exp(-params))/(1+np.exp(-params))).copy()
/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/tsatools.py:669: RuntimeWarning: overflow encountered in exp
  tmp = ((1-np.exp(-params))/(1+np.exp(-params))).copy()
/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/tsatools.py:669: RuntimeWarning: invalid value encountered in true_divide
  tmp = ((1-np.exp(-params))/(1+np.exp(-params))).copy()
/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:219: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)

4

/opt/anaconda3/lib/python3.7/site-packages/statsmodels/base/model.py:492: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)
/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:219: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)

5

/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:219: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)

6

/opt/anaconda3/lib/python3.7/site-packages/statsmodels/base/model.py:492: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)
/opt/anaconda3/lib/python3.7/site-packages/statsmodels/base/model.py:492: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)
/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:219: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)

7

/opt/anaconda3/lib/python3.7/site-packages/statsmodels/base/model.py:492: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)
/opt/anaconda3/lib/python3.7/site-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:219: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)

8

/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:219: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)

9

/opt/anaconda3/lib/python3.7/site-packages/statsmodels/base/model.py:492: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)
/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:219: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)

10

/opt/anaconda3/lib/python3.7/site-packages/statsmodels/base/model.py:492: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)
/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:219: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)

In [14]:
s.find_w()

1.0877 2.4192
-0.2247 3.7044
0.2354 2.6092
-2.0225 8.0392
-0.1126 0.68

In [15]:
s.find_params()

In [16]:
s.find_m()
s.summary()

您购买的股票为：[1, 3, 5, 6, 7]
________________________________________________________
您所持有的股票份额:
股票: 2, 份额: [109.1495093874923], 金额: 6402.710220670298
股票: 4, 份额: [70.58944352519777], 金额: 6353.049917267798
股票: 6, 份额: [78.7015964198873], 金额: 5193.518347748362
股票: 7, 份额: [24.24937893470248], 金额: 10984.968657420224
股票: 8, 份额: [35.28366944644987], 金额: 1035.9285349477682
总投入: [317.9735977137297]
________________________________________________________
预计每支收入:
股票: 2, 收入: 12805.420441340597
股票: 4, 收入: 25412.199669071193
股票: 6, 收入: 31161.110086490175
股票: 7, 收入: 76894.78060194157
股票: 8, 收入: 8287.428279582145
预计总收入: 154560.9390784257
预计净收入: 154396.25358526682
________________________________________________________

## 真实

In [29]:
date2 = "2020-01-03"
date2 = pd.to_datetime(datetime.datetime.strptime(date2, "%Y-%m-%d"))
S2 = []
for i in range(1, 11):
    S2.append(table[str(i)].loc[date2, ['open']])

In [30]:
S2

[open    16.94
 Name: 2020-01-03 00:00:00, dtype: object, open    59.9
 Name: 2020-01-03 00:00:00, dtype: object, open    3.4
 Name: 2020-01-03 00:00:00, dtype: object, open    89.36
 Name: 2020-01-03 00:00:00, dtype: object, open    7.06
 Name: 2020-01-03 00:00:00, dtype: object, open    68.38
 Name: 2020-01-03 00:00:00, dtype: object, open    460
 Name: 2020-01-03 00:00:00, dtype: object, open    30.38
 Name: 2020-01-03 00:00:00, dtype: object, open    4.47
 Name: 2020-01-03 00:00:00, dtype: object, open    5.87
 Name: 2020-01-03 00:00:00, dtype: object]

In [31]:
m = [6402.710220670298,6353.049917267798,5193.518347748362, 10984.968657420224, 1035.9285349477682]

In [48]:
index = [1, 3, 5, 6, 7]
S_diff = np.array(S2) - np.array(S)
M_diff = []
for i in range(len(m)):
    print('股价差价: {0} 金额: {1} 获利: {2}'.format(
                                                             S_diff[index[i]], 
                                                             m[i], 
                                                             m[i]/S[index[i]]*S2[index[i]]))
    M_diff.append(m[i]/S[index[i]] * S2[index[i]])

股价差价: [1.240000000000002] 金额: 6402.710220670298 获利: open    6538.06
dtype: object
股价差价: [-0.6400000000000006] 金额: 6353.049917267798 获利: open    6307.87
dtype: object
股价差价: [2.3900000000000006] 金额: 5193.518347748362 获利: open    5381.62
dtype: object
股价差价: [7.0] 金额: 10984.968657420224 获利: open    11154.7
dtype: object
股价差价: [1.0199999999999996] 金额: 1035.9285349477682 获利: open    1071.92
dtype: object

In [49]:
np.array(M_diff).sum()

30454.175636660642

In [50]:
np.array(M_diff).sum()-M

454.17563666064234